{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "experimentalTernaries": true,
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": true,
  "printWidth": 95,
  "quoteProps": "consistent",
  "trailingComma": "es5"
}
