{
  "singleQuote": true,
  "bracketSameLine": true,
  "experimentalTernaries": true,
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "quoteProps": "consistent",
  "trailingComma": "es5"
}
